CarRentalClient/CarRentalClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalService" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCarDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RentCar_InputMessage">
    <wsdl:part name="parameters" element="tns:RentCar" />
  </wsdl:message>
  <wsdl:message name="IService1_RentCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePeopleDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeopleDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePeopleDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeopleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPeopleDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPeopleDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPeopleDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPeopleDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCarDetails" message="tns:IService1_InsertCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCarDetailsResponse" message="tns:IService1_InsertCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCarDetails" message="tns:IService1_DeleteCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCarDetailsResponse" message="tns:IService1_DeleteCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCarDetails" message="tns:IService1_UpdateCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCarDetailsResponse" message="tns:IService1_UpdateCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCarDetails" message="tns:IService1_SelectCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCarDetailsResponse" message="tns:IService1_SelectCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RentCar" message="tns:IService1_RentCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RentCarResponse" message="tns:IService1_RentCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePeopleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePeopleDetails" message="tns:IService1_DeletePeopleDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePeopleDetailsResponse" message="tns:IService1_DeletePeopleDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPeopleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPeopleDetails" message="tns:IService1_SelectPeopleDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPeopleDetailsResponse" message="tns:IService1_SelectPeopleDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCarDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCarDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCarDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentCar">
      <soap:operation soapAction="http://tempuri.org/IService1/RentCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePeopleDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePeopleDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPeopleDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPeopleDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54967/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>